---
import InteractiveBackground from "~/components/InteractiveBackground.astro";
import "~/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>German Shabalin - Full Stack Developer</title>
    <meta
      name="description"
      content="Professional CV of German Shabalin, a highly skilled Full Stack Developer with extensive experience."
    />
  </head>
  <body>
    <InteractiveBackground />
    <main>
      <slot />
    </main>
  </body>
</html>
